params {

    vcfFilesPath     = "${baseDir}/../BamToPopGen/filtVcf_output/rmUrialSpecific/*.{vcf.gz,vcf.gz.csi}"
    outSimVcfDir     = "${baseDir}/simVcfs/"
    outStacksDir     = "${baseDir}/stackOut/"
    popMap           = "${baseDir}/sampleName.2.txt"
    distance = 50000
    numSim = 1
    initRow = 500
    block = 100
    migEdge = 4
    jkNum = 50

}
